/* custom css for jordanthorne.com by homer gaines copyright 2018 tonisha landry */

html, body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

hr {
  background: rgb(173, 173, 173);
  border: 0;
  height: 1px;
  margin: 36px auto;
  width: 180px;
}

p,
a {
  color: rgb(0, 85, 141);
  Font-Family: 'Work Sans', Sans-Serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
}


body {
  background-attachment: fixed;
  background-image: url("../img/jt.jpg");
  background-position: 42% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.shadow {
  box-shadow: 0px 2px 6px -1px rgba(136, 136, 136, 0.4);
}

.container {
  border-radius: 7px;
  display: grid;
  height: 100vh;
  width: 100%;
}

.content-section {
  margin: auto;
}

.hero {
  align-content: center;
  display: grid;
  height: 100vh;
  text-align: center;
}

.hero h1 {
  color: #fff;
  Font-Family: 'Neuton', Serif;
  font-size: 2.2em;
  font-weight: 200;
  text-shadow: 0px 3px rgba(0,0,0,0.4);
}

.photos {
  display: grid;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin: 40px auto;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s ease-in-out;
  width: 100%;
}

.photos:hover {
  background-color: #fcfcfc;
}

.info {
  display: grid;
  background-color: #fff;
  width: 100%;
  padding: 1.2em;
}

.star {
  background-color: #4e9ecf;
  color: #fff;
  display: block;
  margin: 40px auto 40px auto;
  padding: 40px;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s ease-in-out;
}

.star:hover {
  background-color: #5fb3e7;
}

.url {
  text-decoration: underline;
}

.copyright p {
  display: grid;
  font-size: 12px;
  justify-content: center;
}

.twitter-post {
  margin: auto;
}

@media (min-width: 950px) {

  p,
  a {
    font-size: 24px;
    line-height: 1.35;
  }

  .content-section {
    min-height: 400px;
    width: 100%;
  }

  .photos {
    width: max-content;
  }

  .bio,
  .legacy {
    width: 50%;
    margin: auto;
  }

  .hero h1 {
    font-size: 9em;
  }

  .info {
    padding: 2em 1.2em;
  }

}